name: Rust

on:
  push:
    branches: [ "main", "version-*" ]
    tags: [ "**" ]
  pull_request:
    branches: [ "main", "version-*" ]
  schedule:
    - cron: "0 2 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
        - stable
        - 1.88 # MSRV
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install ${{ matrix.toolchain }} toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}
        components: clippy
    
    - name: Build
      run: bash ./scripts/build.sh
    
    - name: Run tests
      run: bash ./scripts/ci_test.sh

  doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build doc
      run: bash ./scripts/doc.sh

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: bash ./scripts/fmt.sh

  deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - uses: EmbarkStudios/cargo-deny-action@v2

